/*responsive design for small,medium and large screens*/

/*small screens up to 300px*/
@media only screen and (max-width: 300px) {
    body {
        background-color: red;font-size: 15px
    }
    div.small {
        z-index:1;
    }
    div.medium {
        z-index:2;
    }
    div.large {
        z-index:3;
    }
}
/*medium sized screens ranging from 300px to 768px*/
@media only screen and (min-width: 301px) and (max-width: 768px ) {
    body {
        background-color: green;font-size: 20px;
    }
    div.small {
        float:left; display:inline; width: 66%;margin: 15px;
    }
    div.medium {
        float:left; display:inline; width: 33%;margin: 15px;
    }
    div.large {
        float:bottom; display:inline-grid; width: 100%;margin: 15px;
    }
}
/*large screens upwards of the 768px range*/
@media only screen and (min-width:769px) {
    body {
        background-color: blue;font-size:30px;
    }
    div.small {
        float:left;display:inline;width:30%;margin:15px;
    }
    div.medium {
        float:left;display:inline;width:30%;margin:15px;
    }
    div.large {
        float:left;display:inline;width:30%;margin:15px;
    }
}